/* Space out content a bit */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #FCFCFC;
}

/*fix plone css*/
a:link, a:visited{
  color: #b7040b;
}
.nav-pills>li.selected>a, .nav-pills>li.selected>a:focus, .nav-pills>li.selected>a:hover {
    color: #fff;
    background-color: #b7040b;
}
#content,
dl.portlet {
    font-size: inherit;
}
#contentActionMenus dl{
    margin-bottom:0;    
}
#contentActionMenus dl > dt > a{line-height: 20px;}
ul#content-views a{
    margin-bottom:0;
    line-height: 20px;
}
#content a, dl.portlet a,
#content a:visited, dl.portlet a:visited{
    color: #c92539 !important; 
}
.widget > .label > .value{
    color: #333;
}


/*round btn*/
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.main-content,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  /*padding: 20px 0;*/
  background: url(./images/bj.jpg) repeat-x left bottom;
  background-color: #fdf6f0;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/*language selector*/
#language-selector{
    position: absolute;
    top: -39px;
    right: 80px;    
}
#language-selector ul li{
    padding:0;    
}
#language-selector ul li a{
    padding: 4px 6px;    
}
#language-selector ul li.currentLanguage>a,
#language-selector ul li a:hover{
    color: #f1f0f0;
    background-color: #c92539;
}

/*main menu*/
#main-menu{
  margin-bottom: 20px;
}

.main-column,
.left-column,
.right-column{
  background-color: #f2e9e0;
  box-shadow: #e6e6e6 2px 3px 5px;
  border-radius: 20px;
  padding:20px;
}
.main-column{
  background-image: url(./images/s-caihong.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

/*content container*/
#content-container{
  background: url(./images/footer.png) repeat-x bottom left;
}

/* Custom page footer */
.footer {
  padding: 40px 0 20px;
  background-color: #fdf6f0;
}

#footer-link{
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
#footer-link li{
  display: inline;
  margin-right: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-image: url(./images/banner_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: transparent;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top:0;
  padding-bottom:30px;
  display: inline-block;
  background-size:915px 37px;
  width:100%;
  min-height: 330px;
  margin-bottom: 0 !important;
  }

  .jumbotron .inner-contaner{
    margin-bottom: -30px;
  }
  .jumbotron img{
    width: 100%;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #ccc;
    background-color:#f2e9e0;
  }

/* Supporting marketing content */
.main-content {
  margin: 40px 0;
}
.main-content p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .main-content,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* main feature images */
#feature-img-container > div > img{
    width:100%;    
}

#banner{
    overflow: hidden;    
}

.banner_1_1{
    width:70%;
	height:385px;
	float:left;
	position:absolute;
	left:15px;
	top:0px;
	margin-left:-400px;
	color:#FFF;
	-webkit-transition: all 0.3s; 
	transition: all 0.3s;
	background:url(./images/jinguo.png) no-repeat right top;
	background-size:cover;
	}
    
#banner:hover .banner_1_1{
    margin-left:0;
}
.banner_1_1_a{
    position: absolute;
    top: 40px;
    left: 20px;
    display: block;
    width: 85%;
}
.banner_1_1_a em{
    display: block;
    margin-bottom: 35px;
}
.banner_1_1_b{
    position: absolute;
    bottom: 40px;
    left: 20px;
    display: block;
    width: 85%;
}
.banner_1_1_b strong{
    display: block;
    font-size: 1.25em;
}
.banner_1_1 a,
.banner_1_1 p{color:#fff}

dl.portlet.portletNavigationTree ul.navTree li a{
    background: no-repeat transparent 0 9px url(./images/dian.png);
    padding-left: 1.5em;
}
dl.portlet.portletNavigationTree ul.navTree li > ul > li a{
    background: no-repeat transparent 0 11px url(./images/hypen2.png);
}
dl.portlet.portletNavigationTree ul.navTree li > a > img{display: none}
.bordered-container{
    border: 2px solid #fff;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: #e6e6e6 2px 3px 5px;
}
.contentwellportlets.row{float:none;position:inherit}


/* dropdown css */
ul#main-menu > li{position:relative;margin-left:15px;}
ul#main-menu > li:first-child{margin-left:0}
ul#main-menu > li > ul{
    display:none !important;  
    background-color: #f2e9e0;
    box-shadow: #e6e6e6 2px 3px 5px;
    border-radius: 5px;
    width:200px;
    position:absolute;
    z-index:1;
} 
ul#main-menu ul > li > a{
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
}
ul#main-menu ul > li:first-child > a{
    border-top:none;
}
ul#main-menu ul > li:last-child > a{
    border-bottom:none;
}
ul#main-menu ul > li > a{
    display:block;
    padding: 10px 20px;
}
ul#main-menu > li:hover > ul,
ul#main-menu > li.selected:hover > ul{
    display:block !important;
} 
ul#main-menu > li > ul > li > ul{
    display:none;
    background-color: #f2e9e0;
    width:200px;
}
ul#main-menu > li > ul > li{position:relative}
ul#main-menu > li > ul > li:hover > ul{
    display:block;
    position:absolute;
    left:200px;
    top:-41px;
    box-shadow: #e6e6e6 2px 3px 5px;
    border-radius: 5px;
}
#portal-personaltools-wrapper{
    min-height:42px;
}

/*drop subscription link*/
#portaltab-subscription-level1{
  display: none;
}